// padding
.xs-padding{
    padding: $xs;
}
.sm-padding{
    padding: $sm;
}
.md-padding{
    padding: $md;
}
.lg-padding{
    padding: $lg;
}

// margin
.xs-margin{
    margin: $xs;
}
.sm-margin{
    margin: $sm;
}
.md-margin{
    margin: $md;
}
.lg-margin{
    margin: $lg;
}